@{
    ViewBag.Title = "Lovecraft Getaways";
}

<div class="jumbotron">
    <h1>Welcome to Lovecraft Getaways!</h1>
    <h3>Nghafh'drn l' Lovecraft Cl'Mglagln!</h3>
    <p class="lead">Do you desire to visit exotic locations for the thrill of adventure? How about a lovely area to visit the travelling Night-Gaunts? Or maybe you want a better place to perform your ritual to Cthulu? Well look no further, because you'll never be unprepared again!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Where to go</h2>
        <p>
            With numerous reviewers travelling to far off lands, you'll know where the best spots in town are! And it's only one click away! 
        </p>
        <p><a class="btn" href="~/Reviews/Index">Browse Reviews &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>The various regions</h2>
        <p>The universe as we know it is choke full of different locations and environments. That's why we made it easier for you to know what kind of place you're looking for!</p>
        <p><a class="btn" href="~/Categories/Index">Browse Regions &raquo;</a></p>
    </div>
</div>